
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
<title>低端影视</title>
<meta name="referrer" content="never">
<link rel='stylesheet' id='wp-block-library-css'  href='https://ddrk.me/wp-includes/css/dist/block-library/style.min.css?ver=e655c2299827c162e6389335adcb94f1.1588867691' type='text/css' media='all' />
<link rel='stylesheet' id='bg-shce-genericons-css'  href='https://ddrk.me/wp-content/plugins/show-hidecollapse-expand/assets/css/genericons/genericons.css?ver=e655c2299827c162e6389335adcb94f1.1588867691' type='text/css' media='all' />
<link rel='stylesheet' id='bg-show-hide-css'  href='https://ddrk.me/wp-content/plugins/show-hidecollapse-expand/assets/css/bg-show-hide.css?ver=e655c2299827c162e6389335adcb94f1.1588867691' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='https://ddrk.me/wp-includes/css/dashicons.min.css?ver=e655c2299827c162e6389335adcb94f1.1588867691' type='text/css' media='all' />
<link rel='stylesheet' id='to-top-css'  href='https://ddrk.me/wp-content/plugins/to-top/public/css/to-top-public.css?ver=2.1.1588867691' type='text/css' media='all' />
<link rel='stylesheet' id='wpd-css-css'  href='https://ddrk.me/wp-content/plugins/wp-douban-master/assets/css/style.css?ver=2.0.0.1588867691' type='text/css' media='screen' />
<link rel='stylesheet' id='bootstrap-css'  href='https://ddrk.me/wp-content/themes/caos/css/bootstrap.css?ver=3.1.1588867691' type='text/css' media='all' />
<link rel='stylesheet' id='caos_style-css'  href='https://ddrk.me/wp-content/themes/caos/style.css?ver=e655c2299827c162e6389335adcb94f1.1588867691' type='text/css' media='all' />
<style>
#header {
    margin-bottom: 0;
    padding-left: 20px;
}

#header .logo_container {
    padding-left: 0;
}

.post-box-text .post-box-title {
    margin-top: 0;
}

.blog article {
    margin-bottom: 3rem;
}
</style>
<link rel='stylesheet' id='custom-css-css'  href='https://ddrk.me/wp-content/plugins/theme-customisations/custom/style.css?ver=e655c2299827c162e6389335adcb94f1.1588867691' type='text/css' media='all' />
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/plugins/advanced-floating-content-lite/public/js/advanced-floating-content-public.js?ver=1.0.0.1588867691'></script>
<script type='text/javascript'>
var to_top_options = {"scroll_offset":"100","icon_opacity":"50","style":"icon","icon_type":"dashicons-arrow-up-alt2","icon_color":"#ffffff","icon_bg_color":"#000000","icon_size":"32","border_radius":"5","image":"https:\/\/ddrk.me\/wp-content\/plugins\/to-top\/admin\/images\/default.png","image_width":"65","image_alt":"","location":"bottom-left","margin_x":"20","margin_y":"120","show_on_admin":"0","enable_autohide":"0","autohide_time":"2","enable_hide_small_device":"0","small_device_max_width":"640","reset":"0"};
</script>
<script type='text/javascript' src='https://ddrk.me/wp-content/plugins/to-top/public/js/to-top-public.js?ver=2.1.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/themes/caos/js/modernizr.custom.67069.js?ver=1.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/plugins/theme-customisations/custom/custom.js?ver=e655c2299827c162e6389335adcb94f1.1588867691'></script>
<script type="text/JavaScript">
var current_user_id_js = '0';
</script>
<style type="text/css">
.logo_container .ql_logo {
    color: #3a8fb7;
}
#jqueryslidemenu ul.nav > li > a {
    color: #3a8fb7;
    opacity: 0.8;
}
</style>
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<style type="text/css" id="sns_global_styles">
#vjsp.theater-mode {
	position: fixed;
	z-index: 2147483647;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 0;
}

.vjs-text-track-settings .vjs-modal-dialog-content {
    color: black;
}

.vjs-text-track-display {
  z-index: 99999 !important;
}

.ht-n-open-toggle {
  display: none;
}

/* CUSTOM BUTTONS */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

.icon-angle-right:before {
  content: "\f051";
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: inherit;
}

.video-js .icon-angle-right, .video-js .icon-angle-left {
    cursor: pointer;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

p.post-last-modified {
	color: white;
}

div.page-links {
  color: white;
  font-size: 1.4rem;
}

svg.search-icon {
  fill: white;
}

div.is-menu-wrapper {
  display: block;
}
</style>

<link rel="stylesheet" href="https://cdn.staticfile.org/video.js/7.8.1/video-js.min.css">
<link href="https://ddrk.me/vjs-plugins/videojs.theaterMode.css" rel="stylesheet">
<link href="https://ddrk.me/vjs-plugins/videojs-resume.min.css" rel="stylesheet">
<link href="https://ddrk.me/vjs-plugins/videojs.das.css" rel="stylesheet">
<script src="https://ddrk.me/vjs-plugins/browser.min.js"></script>
<script type="text/javascript">window.deviceInfoQJ = new Browser();</script>
<style type="text/css" id="wp-custom-css">
.single #header {
	top:1.2em;
}

#jqueryslidemenu ul.nav > li > a {
	font-size:1.1rem;
	font-weight: bold;
}

h1 {
    margin-top: 0.8rem;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
}

#ql_nav_btn {
    top: 1.5em;
}

@media screen and (max-width: 850px) {
	.post-content {
		padding: 7px;
	}
}

@media screen and (max-width: 850px) {
	.doulist-item .post {
		float: none;
		text-align: center;
		background-color: transparent;
	}
	.doulist-item .rating {
		margin: 6px 0 4px 0;
	}
	.doulist-item .abstract {
		margin-left: 0;
	}
}		
</style>
<style type='text/css'>
#to_top_scrollup {left:20px;bottom:120px;}
</style>
</head>
<body class="home blog caos v1.0.10" data-rest-api="false">
<style type="text/css">
  @media (max-width: 767px) {
  	#ql_nav_collapse {
  		background-color:#2a2a2a;
  	}
  }
  .post-image {
    padding-bottom: 5%;
  }
	
	#iaujwnefhw {
		padding:0 20% 2% 20%;
	}
	
	#sajdhfbjwhe {
		padding: 0 15% 0 15%;
	}
</style>
    	<header id="header" class="site-header" role="banner" >

        		<div class="logo_container col-md-5">
                                        						<h1 class="site-title"><a href="https://ddrk.me/" rel="home" class="ql_logo">低端影视</a></h1>
					                </div><!-- /logo_container -->

                <button id="ql_nav_btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ql_nav_collapse" aria-expanded="false">
                    <i class="fa fa-navicon"></i>
                </button>


                <div class="col-md-7">
                	<div class="collapse navbar-collapse" id="ql_nav_collapse">
                        <nav id="jqueryslidemenu" class="jqueryslidemenu navbar " role="navigation">
                            <div class="menu-1%e7%ba%a7%e8%8f%9c%e5%8d%95-container"><ul id="primary-menu" class="nav"><li id="menu-item-398" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-398"><a title="热映中" href="https://ddrk.me/category/airing/">热映中</a></li>
<li id="menu-item-3628" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3628"><a title="站长推荐" href="http://ddrk.me/tag/recommend/">站长推荐</a></li>
<li id="menu-item-1626" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1626 dropdown"><a title="剧集" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">剧集 <i class="fa fa-angle-down"></i></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-105" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-105"><a title="欧美剧" href="https://ddrk.me/category/drama/western-drama/">欧美剧</a></li>
	<li id="menu-item-100" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-100"><a title="日剧" href="https://ddrk.me/category/drama/jp-drama/">日剧</a></li>
	<li id="menu-item-2399" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2399"><a title="韩剧" href="https://ddrk.me/category/drama/kr-drama/">韩剧</a></li>
	<li id="menu-item-2213" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2213"><a title="华语剧" href="https://ddrk.me/category/drama/cn-drama/">华语剧</a></li>
	<li id="menu-item-6743" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6743"><a title="其他地区" href="https://ddrk.me/category/drama/other/">其他地区</a></li>
</ul>
</li>
<li id="menu-item-393" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-393 dropdown"><a title="电影" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">电影 <i class="fa fa-angle-down"></i></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-411" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-411"><a title="全部" href="https://ddrk.me/category/movie/">全部</a></li>
	<li id="menu-item-305" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-305"><a title="欧美电影" href="https://ddrk.me/category/movie/western-movie/">欧美电影</a></li>
	<li id="menu-item-391" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-391"><a title="日韩电影" href="https://ddrk.me/category/movie/asian-movie/">日韩电影</a></li>
	<li id="menu-item-394" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-394"><a title="华语电影" href="https://ddrk.me/category/movie/chinese-movie/">华语电影</a></li>
	<li id="menu-item-4720" class="menu-item menu-item-type-taxonomy menu-item-object-post_tag menu-item-4720"><a title="豆瓣电影Top250" href="https://ddrk.me/tag/douban-top250/">豆瓣电影Top250</a></li>
</ul>
</li>
<li id="menu-item-1428" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1428"><a title="动画" href="https://ddrk.me/category/anime/">动画</a></li>
<li id="menu-item-3702" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3702 dropdown"><a title="类型" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">类型 <i class="fa fa-angle-down"></i></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-3707" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3707"><a title="动作" href="http://ddrk.me/tag/action/">动作</a></li>
	<li id="menu-item-3703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3703"><a title="喜剧" href="http://ddrk.me/tag/comedy/">喜剧</a></li>
	<li id="menu-item-3705" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3705"><a title="爱情" href="http://ddrk.me/tag/romance/">爱情</a></li>
	<li id="menu-item-3708" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3708"><a title="科幻" href="http://ddrk.me/tag/sci-fi/">科幻</a></li>
	<li id="menu-item-3709" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3709"><a title="犯罪" href="http://ddrk.me/tag/crime/">犯罪</a></li>
	<li id="menu-item-3704" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3704"><a title="悬疑" href="http://ddrk.me/tag/mystery/">悬疑</a></li>
	<li id="menu-item-3706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3706"><a title="恐怖" href="http://ddrk.me/tag/horror/">恐怖</a></li>
	<li id="menu-item-2036" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2036"><a title="纪录片" href="https://ddrk.me/category/documentary/">纪录片</a></li>
	<li id="menu-item-3335" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3335"><a title="综艺" href="https://ddrk.me/category/variety/">综艺</a></li>
</ul>
</li>
<li id="menu-item-1431" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1431 dropdown"><a title="其他" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">其他 <i class="fa fa-angle-down"></i></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-6813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6813"><a title="已下架视频" href="https://ddrk.me/deleted/">已下架视频</a></li>
	<li id="menu-item-3891" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3891"><a title="会员专区" href="https://ddrk.me/category/vip/">会员专区</a></li>
	<li id="menu-item-2348" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2348"><a title="会员登录" href="/ddrklogin/">会员登录</a></li>
	<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98"><a title="关于本站" href="https://ddrk.me/about/">关于本站</a></li>
</ul>
</li>
<li class="astm-search-menu astm-search-menu is-menu dropdown"><a title="" href="#"><svg width="20" height="20" class="search-icon" role="img" viewBox="2 9 20 5" focusable="false" aria-label="Search">
						<path class="search-icon-path" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></a><form role="search" method="get" class="search-form" action="https://ddrk.me/">
				<label>
					<span class="screen-reader-text">搜索：</span>
					<input type="search" class="search-field" placeholder="搜索&hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="搜索" />
			<input type="hidden" name="post_type" value="post" /></form></li></ul></div>                        </nav>
                    </div><!-- /ql_nav_collapse -->
                </div><!-- /col-md-7 -->

                <div class="clearfix"></div>

	</header>
	<div class="clearfix"></div>
    
        <div id="container" class="container">
    

<main id="main" class="site-main" role="main">
	<div class="post-box-list">
		<% postList.forEach (function (post) { %>
            <article class="post-box post type-post status-publish format-standard has-post-thumbnail sticky hentry">
                <div class="post-box-container">
                    <div class="post-box-image" style='background-image: url(<%=post.cover%>);'><span></span></div>
                    <div class="post-box-text">
                        <span class="post-box-meta">
                            <%-post.metas%>
                        </span>
                        <h2 class="post-box-title"><a href="<%=post.url%>" target="_blank" rel="bookmark"><%=post.name%></a></h2>
                    </div>
                </div>
            </article>
        <% }); %>		
    </div>
<div class="pagination_wrap">
	<nav class="navigation pagination" role="navigation">
		<div class="nav-links">
            <% if (hasPrev) { %>
                <a class="page-numbers" href="./<%=page-1%>">上一页</a>
            <% } %>
            <% if (hasNext) { %>
                <a class="page-numbers" href="./<%=page+1%>">下一页</a>
            <% } %>
        </div>
	</nav></div><!-- /pagination_wrap -->
			
		

	</main><!-- #main -->

</div><!-- /#container -->
<span id="to_top_scrollup" class="dashicons dashicons-arrow-up-alt2"><span class="screen-reader-text">Scroll Up</span></span><script type="text/javascript" id="sns_global_scripts">function changeSrctype(i) {
	window.vjs_list_SrcType = i;
	jQuery('.wp-playlist-playing a').click();
  if (i==0) {
    jQuery('.chinaSrc-a').replaceWith('<span style="float:right;color:white;" class="chinaSrc-a">国内节点</span>');
    jQuery('.outSrc-a').replaceWith('<a style="float:right;" href="javascript:void(0);" onclick="changeSrctype(1)" class="outSrc-a">海外节点</a>');
  }
  if (i==1) {
    jQuery('.outSrc-a').replaceWith('<span style="float:right;color:white;" class="outSrc-a">海外节点</span>');
    jQuery('.chinaSrc-a').replaceWith('<a style="float:right;" href="javascript:void(0);" onclick="changeSrctype(0)" class="chinaSrc-a">国内节点</a>');
  }
};
</script>
<script src="https://cdn.staticfile.org/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://cdn.staticfile.org/video.js/7.8.1/video.min.js"></script>
<script src="https://cdn.staticfile.org/video.js/7.8.1/lang/zh-CN.js"></script>
<script src="https://cdn.staticfile.org/videojs-hotkeys/0.2.25/videojs.hotkeys.min.js"></script>
<script src="https://cdn.staticfile.org/pako/1.0.10/pako_inflate.js"></script>
<script src="https://cdn.staticfile.org/store.js/1.3.20/store.min.js"></script>
<script src="https://ddrk.me/vjs-plugins/videojs.theaterMode.js"></script>
<script src="https://ddrk.me/vjs-plugins/videojs-resume.js"></script>
<script src="https://ddrk.me/vjs-plugins/videojs.das.min.js"></script>
<script src="https://ddrk.me/vjs-plugins/videojs-landscape-fullscreen.min.js"></script>
<link rel='stylesheet' id='ivory-search-styles-css'  href='https://ddrk.me/wp-content/plugins/add-search-to-menu/public/css/ivory-search.css?ver=4.4.7.1588867691' type='text/css' media='all' />
<script type='text/javascript' src='https://ddrk.me/wp-content/plugins/add-search-to-menu/public/js/ivory-search.js?ver=4.4.7.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/ui/effect-slide.min.js?ver=1.11.4.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/ui/effect-highlight.min.js?ver=1.11.4.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/ui/effect-fold.min.js?ver=1.11.4.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/jquery/ui/effect-blind.min.js?ver=1.11.4.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/plugins/show-hidecollapse-expand/assets/js/bg-show-hide.js?ver=e655c2299827c162e6389335adcb94f1.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/themes/caos/js/html5shiv.js?ver=3.7.3.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/themes/caos/js/jquery.history.js?ver=1.8.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/themes/caos/js/jquery.easing.1.3.js?ver=1.3.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-content/themes/caos/js/bootstrap.js?ver=3.3.5.1588867691'></script>
<script type='text/javascript' src='https://ddrk.me/wp-includes/js/wp-embed.min.js?ver=e655c2299827c162e6389335adcb94f1.1588867691'></script>

</body>
</html>
